.product-value {
    display: flex;
    flex-direction: column;
    margin: 0 16%;;
}

.product-value p{
    font-size: 14px;
    margin-bottom: 28px;
}

.product-value h1{
    font-weight: 400;
    font-size: 24px;
    color: var(--dark-gray-text);
    margin-bottom: 28px;
}

.product-value h2{
    font-weight: 400;
    font-size: 20px;
    color: var(--main-pink);
    margin: 0;
}

.stars-section {
    display: flex;
}

.star-icon {
    color: var(--icon-gray);
}

/*GRADE SECTION - BOX ASKING TO RATE THE PRODUCT*/
.grade-product {
    display: flex;
    width: 100%;
}

.grade-product-section {
    border: 1px solid var(--gray-light);
    padding: 20px;
    width: 100%;
}

.grade-product-section h1 {
    color: var(--black);
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
}

.grade-product-section p {
    color: var(--black);
    margin: 0;
    font-size: 12px;
}

.grade-product-section a{
    color: var(--main-pink);
    text-decoration: none;
}