.categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px;
  }
  
  .category-card {
    width: 265px;
    height: 430px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--white);
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .categoria-card:hover {
    transform: scale(1.05);
  }
  

  