/* MAIN SECTION */
.product-description-section {
    align-items: center;
    display: flex;
    gap: 28px;
    justify-content: center;
    margin: 40px;
    position: relative;
}

/* ///////////////// PRODUCTS INFO FIRST SECTION ///////////////// */

/*PRODUCT IMAGE WITH ZOOM*/
.image-zoom-container {
    height: 300px;
    overflow: hidden;
    width: auto;
    position: relative;
}

.product-image {
    transition: transform 0.3s ease;
    width: auto;
    height: 100%;
}

.open-modal-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--dark-gray-text);
    z-index: 10;
    border-radius: 20px;
    padding: 8px;
}


/* HEADER */
.main-info {
    margin-right: 10%;
}


/*INFO*/

.info-header h1{
    color: var(--pink-dark);
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.info-header h2{
    color: var(--pink-dark);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.info-header h3 {
    color: var(--gray-text);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

/* LIST*/
.effects-section {
    margin: 40px;
}

.effects-section ul {
    display: list-item !important;
    margin: 0;
    padding-left: 20px;
}

.effects-section li {
    color: var(--dark-gray-text);
    display: list-item !important;
    font-size: 12px;
    list-style-type: disc !important;
    margin-bottom: 2px;
}

/* PRICE */
.price-section {
    color: var(--dark-gray-text);
    display: flex;
    font-size: 26px;
    gap: 10px;
}

.old-price {
    color: var(--main-pink);
}

/* ///////////////// MORE INFO ///////////////// */
.more-info {
    width: 260px;
}

/* STEPS */
.steps-text {
    color: var(--dark-gray-text);
    font-size: 12px;
    line-height: 20px;
}