.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.my-app-bar {
    display: flex;
    background-color: var(--main-pink);
    height: 34px;
    color: var(--white);
    justify-content: space-around;
    align-items: center;
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.search-links {
    display: flex;
    align-items: center;
}

.search-links a{
    color: var(--main-pink);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
}

.search-links a:hover{
    color: var(--black);
}

.search-bar {
    padding: 0 40px;
}

.content {
    flex: 1;
}

.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-section h1 {
    color: var(--gray-text);
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}

.products-section h2 {
    color: var(--gray-text);
    font-weight: 400;
    font-size: 18px;
}