.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SEARCH BAR SECTION*/

.search-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 16px;
}

.search-links {
    display: flex;
    align-items: center;
}

.search-links a{
    color: var(--main-pink);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
}

.search-links a:hover{
    color: var(--black);
}

.search-bar {
    padding: 0 40px;
}


/* CONTENT */

.content {
    flex: 1;
}

/* PRODUCTS SECTION*/

.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.products-section h1 {
    color: var(--gray-text);
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}

.products-section h2 {
    color: var(--gray-text);
    font-weight: 400;
    font-size: 18px;
}

.new-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-products h1{
    margin: 20px;
}

/* SEE PRODUCTS */
.custom-separator {
    border: none;
    border-top: 1.5px solid;
    border-top-color: var(--separator-color, var(--pink-darker));
    width: 80%;
}

.see-products {
    display: flex;
    align-items: center;
    color: var(--pink-darker);
    background-image: url("../assets/images/ver-productos-biofemme.jpg");   
    height: 495px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 20px 0;
}

.see-products-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin-left: 150px;
}

.see-products h1 {
    font-weight: 400;
    line-height: 50px;
}

.see-products p {
    font-size: 20px;
    cursor: pointer;
    margin: 0;
}


/* YOUR TYPE OF SKIN*/
.your-skin-type {
    display: flex;
    align-items: center;
    color: var(--pink-darker);
    background-image: url("../assets/images/conoce-tu-piel.jpg");   
    height: 495px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 10px 0;
}

.your-skin-type-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin-left: 55%;
}

.your-skin-type-info h1 {
    color: var(--dark-gray);
    font-weight: 400;
    margin: 0;
}

.your-skin-type-info h2 {
    color: var(--gray-light);
    font-weight: 400;
    margin: 10px;
    font-size: 28px;
}

.your-skin-type-info p{
    margin: 0;
    color: var(--dark-gray);
    font-size: 20px;
    cursor: pointer;
}