:root {
  --main-pink: #DB8993;
  --pink-dark: #C9777D;
  --pink-darker: #B16B78;
  --pink-light: #F0B5B9;
  --pink-lighter: #FFF0F4;
  --pink-select: #C9727D;
  --gray-text: #AAAAAA;
  --gray-light: #C8C8C8;
  --gray-medium: #969696;
  --dark-gray: #B8B8B8;
  --dark-gray-text: #5D5D5D;
  --lighter-black: #201C23;
  --black: #000000;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: var(--pink-select);
  color: var(--black);
}

.separator {
  border-left: 2px solid var(--white);
  height: 24px;
  margin: 10px 2px;
}

.custom-separator {
  border: none;
  border-top: 1.5px solid;
  border-top-color: var(--separator-color, var(--pink-darker));
  width: 80%;
}