:root {
  --main-pink: #DB8993;
  --pink-dark: #C9777D;
  --pink-light: #F0B5B9;
  --pink-select: #C9727D;
  --gray-text: #AAAAAA;
  --dark-gray-text: #5D5D5D;
  --black: #000000;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: var(--pink-select);
  color: var(--black);
}

.footer {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.footer h1 {
  font-size: 20px;
  font-weight: 400;
}

.footer-about {
  background-color: var(--main-pink);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 44px;
}


.footer-credits {
  background-image: url("./assets/images/footer-bf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 240px;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  justify-content: space-around;
  align-items: center;
}

.footer-credits::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.credits-content {
  position: relative;
  z-index: 2;
  display: flex;
}

.bio-info {
  flex: 2;
  text-align: center;
}
.online-shop {
  flex: 2;
  text-align: center;
}
.compra-segura {
  flex: 1;
  text-align: center;
}

.footer-copyright {
  color: var(--dark-gray-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}


.separator {
  border-left: 2px solid var(--white);
  height: 24px;
  margin: 10px 2px;
}