/* FOOTER WIDGET CSS*/

.footer {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-family:sans-serif;
  }
  
  .footer h1 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  /* FOOTER NAV BAR */
  
  .footer-about {
    background-color: var(--main-pink);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 38px;
  }
  
  .footer-about a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
  }
  
  /* FOOTER BANNER  */
  
  .footer-credits {
    background-image: url("../assets/images/footer-bf.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 240px;
    overflow: hidden;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-credits::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  .credits-content {
    position: relative;
    z-index: 2;
    display: flex;
  }
  
  .bio-info {
    flex: 2;
    text-align: center;
    font-size: 12px;
    line-height: 1.6;
    max-width: 500px;
  }

  .online-shop {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 60px;
  }
  
  .online-shop a {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .compra-segura {
    flex: 1;
    text-align: start;
  }
  
  /* FOOTER COPYRIGHT INFO */
  
  .footer-copyright {
    color: var(--dark-gray-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    max-height: 35px;
  }