ul,
li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}


img {
  margin-top: -16px;
}

/* Carrousel Container*/
.my-carrousel {
    height: 436px;
    margin: 0 auto;
    width: auto;
}

.slider-container {
    height: 100%;
    position: relative;
}

.container-images {
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

/* Arrows */
.leftArrow {
    color: var(--white);
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    left: 32px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

.rightArrow {
    color: var(--white);
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}