ul,
li {
  list-style: none;
  white-space: nowrap;
  display: inline;
  padding: 0;
  margin: 0;
}


img {
  margin-top: -16px;
}

/* Carrousel Container*/
.my-carrousel {
    height: 436px;
    width: auto;
}

.slider-container {
    position: relative;
    height: 100%;
}

.container-images {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Arrows */
.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white);
    z-index: 1;
    cursor: pointer;
    font-size: 30px;
}

.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white);
    z-index: 1;
    cursor: pointer;
    font-size: 30px;
}